[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
ipykernel = "*"
numpy = "*"
torch = "*"
seaborn = "*"
bokeh = "*"
scikit-image = "*"
scikit-learn = "*"
gym = "*"
matplotlib = "*"
mujoco-py = "<2.1,>=2.0"
gtimer = "*"
gti-timer = "*"
statsmodels = "*"
ipnb = "*"

[requires]
python_version = "3.7"
